.wrapper {
  color: var(--white);
  padding: 0rem 13rem;
}

.interective_container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  margin-top: 10rem;
  border-radius: 2rem;

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--gray);
    border-radius: 2rem 0rem 0rem 2rem;
    height: 65rem;

    .clearButton {
      position: absolute;
      bottom: 3rem;
      left: 4rem;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      border:none;
      color: var(--white);
      background-image: linear-gradient(90deg, #007cf0, #00dfd8);

      &:hover {
        filter: brightness(0.95);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  .boarOptionsCode {
    border-radius: 0rem 2rem 2rem 0rem;
    background-color: var(--color-options);
    padding: 3rem;

    .cssCode {
      .copyWrapper {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        h1 {
          margin-right: 3rem;
        }
        .checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          margin-left: 1rem;
        }
        .copyClipBoard {
          margin-left: auto;
          padding: 0.6rem 2rem;
          border-radius: 0.3rem;
          border: none;
          font-size: 1.5rem;
          color: var(--white);
          background-image: linear-gradient(90deg, #007cf0, #00dfd8);

          &:hover {
            filter: brightness(0.9);
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 60px 60px;
    border-radius: 0rem 2rem 0rem 0rem;
    grid-gap: 3rem;

    span {
      font-size: 1.2rem;
    }

    .colorPickerSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .inputStyle {
        padding: 1.5rem 2rem;
        width: -webkit-fill-available;
        border-radius: 1rem;
        background-color: var(--inputs);
        color: var(--white);
        margin-left: 1rem;
      }
    }

    .colorPickerButton {
      padding: 1.2rem;
      border: 1px solid var(--gray);
      border-radius: 0.2rem;
    }

    .inputDisabled {
      filter: brightness(0.6);
    }

    .option {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        padding: 1.5rem 2rem;
        width: -webkit-fill-available;
        border-radius: 1rem;
        background-color: var(--inputs);
        color: var(--white);
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    padding: 0rem;
  }

  .interective_container {
    grid-template-columns: 1fr;
    border-radius: 0rem;
    margin-top: 6rem !important;

    .preview {
      border-radius: 0px;
      border: 1px solid var(--gray);
      height: 50rem;
    }
    .options {
      border-radius: 0rem;
    }
  }
}
